:root {
    --alpha: 0.8;
    --main-color: rgba(20, 20, 20, var(--alpha));
    --hover-color: rgba(50, 50, 50, var(--alpha));
}

body {
    display: flex;
    color: white;
    margin: 0;
    overflow: hidden;
}

.map {
    position: fixed;
    background: black;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

/*
.map-tiles {
    filter: invert(1) hue-rotate(180deg);
}
*/

.info {
    position: absolute;
    background-color: var(--main-color);
    backdrop-filter: blur(5px);

    left: 50%;
    transform: translate(-50%);

    margin-top: 30px;
    padding: 25px 150px;
}

/* messy way of customizing leaflet ui */

.leaflet-control-zoom > a {
    background-color: var(--main-color);
}

.leaflet-control-zoom > a:hover {
    background-color: var(--hover-color);
}

a > span {
    color: white;
    font-weight: normal;
}